resources/sources/findutils-4.7.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/gdbm-1.18.1.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/gettext-0.20.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/meson-0.53.1.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/check-0.14.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/eudev-3.2.9.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/inetutils-1.9.4.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/less-551.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/tar-1.32.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/systemd-man-pages-244.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/bzip2-1.0.8.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/grub-2.04.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/lfs-bootscripts-20191031.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/libffi-3.3.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/perl-5.30.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/XML-Parser-2.46.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/elfutils-0.178.tar.bz2 filter=lfs diff=lfs merge=lfs -text
resources/sources/man-pages-5.05.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/procps-ng-3.3.15.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/shadow-4.8.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/tzdata2019c.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/glibc-2.31-fhs-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/libtool-2.4.6.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/m4-1.4.18.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/autoconf-2.69.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/bc-2.5.3.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/bison-3.5.2.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/coreutils-8.31-i18n-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/coreutils-8.31.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/openssl-1.1.1d.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/xz-5.2.4.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/libcap-2.31.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/mpc-1.1.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/vim-8.2.0190.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/dejagnu-1.6.2.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/e2fsprogs-1.45.5.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/groff-1.22.4.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/iproute2-5.5.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/kmod-26.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/gperf-3.1.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/mpfr-4.0.2.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/tcl8.6.10-src.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/attr-2.4.48.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/gzip-1.10.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/make-4.3.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/wget-list filter=lfs diff=lfs merge=lfs -text
resources/sources/ninja-1.10.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/systemd-244.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/bzip2-1.0.8-install_docs-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/gawk-5.0.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/kbd-2.2.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/linux-5.5.3.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/md5sums filter=lfs diff=lfs merge=lfs -text
resources/sources/expat-2.2.9.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/kbd-2.2.0-backspace-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/psmisc-23.2.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/sysvinit-2.96.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/automake-1.16.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/bash-5.0-upstream_fixes-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/expect5.45.4.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/file-5.38.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/zlib-1.2.11.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/udev-lfs-20171102.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/bash-5.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/iana-etc-2.30.tar.bz2 filter=lfs diff=lfs merge=lfs -text
resources/sources/Python-3.8.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/sysvinit-2.96-consolidated-1.patch filter=lfs diff=lfs merge=lfs -text
resources/sources/texinfo-6.7.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/flex-2.6.4.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/intltool-0.51.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/ncurses-6.2.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/pkg-config-0.29.2.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/diffutils-3.7.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/glibc-2.31.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/man-db-2.9.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/zstd-1.4.4.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/sysklogd-1.5.1.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/dbus-1.12.16.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/grep-3.4.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/libpipeline-1.5.2.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/patch-2.7.6.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/readline-8.0.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/sed-4.8.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/util-linux-2.35.1.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/acl-2.2.53.tar.gz filter=lfs diff=lfs merge=lfs -text
resources/sources/binutils-2.34.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/gcc-9.2.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/gmp-6.2.0.tar.xz filter=lfs diff=lfs merge=lfs -text
resources/sources/python-3.8.1-docs-html.tar.bz2 filter=lfs diff=lfs merge=lfs -text
